.search-container {
    margin: 50px auto;
    overflow-y: scroll;
}

.search-container .text-center {
    margin-top: 50px;
}

.search-results .row {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.search-results .row .col-6 .alert-light {
    padding-top: 15px;
    margin-bottom: 10px;
}

.search-results .row .col:first-child {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.search-results .row .col-6 a, .search-results .row .col span {
    margin-top: 10px;
    display: block;
}
